---
title: "McDo life"
image: "assets/img/trail.jpeg"
layout: "layouts/base.liquid"
---


    <h1>{{title}}</h1>
    <ul>
    
       			{% for p in menu %}
                   <h2> {{ p.name }}</h2>
				<li>    
                    <div>
                    <p> Category: {{ p.category }}</p	>
                    </div>
                    <div>
                      <p> Cost: {{ p.cost }}</p> 
                    </div>
                    <div>
                             <p> Calories: {{ p.calories }}</p> 
                    </div>
				
                   
             
                    <img src="{{ p.src }}">
				</li>
                {% endfor %}
    </ul>
